$indigo: #011F4B;
$purple: #4a148c;
$black: #222222;
$font-main: #efefef;
$font-counter: $black;
$amber: #ffe082;


html {
  background-color: $black;
}

body {
  background: linear-gradient(0.7turn, $indigo, #303f9f, #4a148c);
}

* {
  box-sizing: border-box;
}

.row {
  position: relative;

  &:before, &:after {
    display: block;
    content: "";
    clear: both;
  }

  &.bottom-row {
    position: absolute;
    bottom: 1em;
  }

  .col {
    float: left;
    position: relative;
    padding: 1em;

    &-12 {
      width: 100%;
    }

    &-9 {
      width: 75%;
    }

    &-6 {
      width: 50%;
    }

    &-3 {
      width: 25%;
    }

    &-4 {
      width: 33.3332%;
    }

    &-low {
      height: 8em;
    }

    &-extra-low {
      height: 5em;
    }

    &-medium-tall {
      height: 30em;
    }

    &-less-tall {
      height: 10em;
    }
  }
}

img {
  &.fill {
    height: 100%;
  }
}

.reveal {
  .controls {
    .controls-arrow {
      color: $font-main;
      font-size: 1em;
      width: 1.6em;
      &:before, &:after {
        width: 1.6em;
      }
    }
    .progress {
      color: rgba(30,30,30, 0.5);
    }
    .navigate-left {
      .controls-arrow {
        color: rgba(30,30,30, 0.5);
      }
    }
  }
  .slides {
    section {

      h1, h2, h3, h4, h5, p, li, small, a {
        font-family: 'Raleway', sans-serif;
        text-transform: none;
        color: $font-main;

        &.light {
          color: $font-counter;
        }
      }

      h1, h2, h3, h4, h5 {
        font-family: 'Bangers', sans-serif;
        letter-spacing: 3px;
      }

      h1 {
        font-size: 2.5em !important;
      }

      h2 {
        font-size: 2em;
      }

      h3 {
        font-size: 1.5em;
      }

      h4 {
        font-size: 1em;
      }

      h5 {
        font-size: 1em;
      }

      li {
        padding-top: 1em;
      }

      img {
        border: none;
        box-shadow: none;
        background-color: transparent;
        &.shadowed {
          box-shadow: 4px 6px 4px $font-counter;
        }
      }

      a {
        color: lighten($font-main, 10%);

        &:hover {
          text-decoration-line: line-through;
          text-decoration-color: $indigo;
          text-decoration-style: double;
        }
      }

      .color-box {
         background-color: $indigo;
         box-shadow: 15px 15px 2px rgba(22,22,22, 0.8);
      }

      .arrow {
        position: relative;
        width: 0;
        height: 0;
        border-top: 36px solid transparent;
        border-right: 36px solid $font-main;
        transform: rotate(10deg);

        &:after {
          content: "";
          position: absolute;
          border: 0 solid transparent;
          border-top: 3px solid $font-main;
          border-radius: 20px 0 0 0;
          top: -22px;
          left: -20px;
          width: 15px;
          height: 12px;
          transform: rotate(45deg) scale(4, 4);
        }

        &--right {

        }
      }

     .emoji-large {
       font-size: 3em;
     }

     small {
       &.small-title {
         float: right;
         text-align: right;
         font-size: 0.5em;
         font-style: italic;
         margin-top: 0.5em;
       }
     }

      .fragment {
        &.fade-multiple {
          position: absolute;
          top: 0;
          bottom: 0;
          &.fade-out {
            visibility: hidden;
            opacity: 0;
            &.current-fragment {
              visibility: inherit;
              opacity: 1;
            }
          }
          &.wide {
            min-width: 25em;
            pre {
              min-width: 2em;
            }
          }
        }
      }
      pre {
        box-shadow: none;
        code {
          background-color: transparent;
          box-shadow: none;

          &.blurred {
            &.dark {
              background-color: $font-main;
            }
          }

          &.large {
            font-size: 1.2em !important;
            line-height: 1.1em !important;
          }
        }
      }
      .framework-theme {
        position: absolute;
        right: -2em;
        top: 0em;
        width: 150px;
        height: 150px;
        z-index: 2;
        img {
          width: 100%;
        }
      }

      &.panel-section {
        padding: 0.5em;

        & > article, & > iframe {
          display: block;
          position: relative;
          border: 10px solid $font-main;
          background-color: rgba(22,22,22, 0.7);
          width: 100%;
          height: 15em;
          padding: 0.25em;
          box-shadow: 15px 15px 2px rgba(22,22,22, 0.8);

        }
      }
    }
  }
}

.centered {
  margin: 0 auto;
}

.center {
  text-align: center;
}

.supersmall-list {
  li {
    font-size: 11px;
  }
}

.bordered {

  &.col {
    padding: 0.5em;

    div {
      border: 3px solid $font-main;
      height: 3em;
      background-color: $font-counter;
      padding: 0.5em;
    }
  }

  &.row {
    background-color: transparent;
    padding: 0.5em;
  }

   &.border-wrapper {
     border: 3px solid $font-main;
   }

   &.img-bordered {
     border: 3px solid $font-main !important;
   }
}

.ancestor-tree {
  position: relative;
  background-image: -webkit-gradient(linear, left bottom, left top, from(rgba(247,223,30,0.9)), to(rgba(247,223,30,0)), color-stop(.3, #f7df1e));

  &:before, &:after {
    display: block;
    content: "";
    clear: both;
  }

  .tree-blob {
    background-repeat: no-repeat;
    background-color: transparent;
    background-attachment: scroll;
    background-position: center center;
    background-size: contain;
    width: 5em;
    height: 3em;
    position: relative;

    .small-title {
      font-size: 0.5em;
      position: relative;
      bottom: -6em;
      padding: 1em;
      left: -1em;
      font-style: italic;
    }

    &.ancestor {
      margin: 0 auto 2em;
      position: relative;

      .small-title {
        top: -2em;
        bottom: auto;
      }

      &:before {
        content: "";
        background-color: transparent;
        border: 4px solid $font-main;
        display: block;
        position: absolute;
        top: 3em;
        width: 5em;
        height: 5em;
        margin: 0 auto;
        transform: rotate(45deg);
        z-index: -2;
        border-right-color: transparent;
        border-bottom-color: transparent;
        // border-image: -webkit-gradient(linear, left top, right bottom, from($font-main), to(rgba(247,223,30,0)), color-stop(0.9, rgba(247,223,30,0)), color-stop(0.9, $indigo)) 50 0 0 51;
      }

      /* &:after {
        content: "";
        background-color: transparent;
        display: block;
        position: absolute;
        border-radius: 50%;
        top: 0;
        width: 5em;
        height: 5em;
        margin: 0 auto;
        z-index: -1;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(247,223,30,1)), to(rgba(247,223,30,0)), color-stop(.6, #f7df1e));
      } */
    }

    &.left {
      float: left;
      position: absolute;
    }

    &.right {
      float: right;
    }

  /*  &.left, &.right {
      &:after {
        content: "";
        background-color: transparent;
        display: block;
        position: absolute;
        border-radius: 50%;
        top: -4.5em;
        width: 5em;
        height: 5em;
        margin: 0 auto;
        z-index: -1;
        background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(247,223,30,0)), to(rgba(247,223,30,1)), color-stop(.95, #f7df1e));
      }
    } */

    &.ember {
      background-image: url('./../../lib/img/logos/ember.png');
    }

    &.sproutcore {
      background-image: url('./../../lib/img/logos/sproutcore.png');
    }

    &.embercli {
      background-image: url('./../../lib/img/logos/embercli.png');
      width: 4em;
    }

    &.angularcli {
      background-image: url('./../../lib/img/logos/angularcli.png');
      width: 4em;
    }
  }
}
@import url('https://fonts.googleapis.com/css?family=Raleway:500,800');

/* .reveal .slides section .fragment.fade-out.fade-multiple.visible {
  display: none;
} */
